@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@1,700&family=Montserrat:wght@300&display=swap');

body {
    background: red;
}

div {
    display: inline-block;
    border: 2px solid black;
    width: 300px;
    margin-right: 20px;
}

.image-cards {
    text-align: center;
    background: blue;
}

li {
    display: inline;
    font-family: 'Balsamiq Sans', cursive;
    font-size: 2em;
    margin-right: 25px;
    /* font-family: 'Montserrat', sans-serif; */
}

ul {
    padding-left: 0px;
}

.company-name {
    font-size: 2em;
}

a {
    color: white;
    text-decoration: none;
}